
/*** Dm Sans font ***/
@font-face {
    font-family: "DMSans-Regular";
    src: url("../fonts/DmSans/DMSans-Regular.ttf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "DMSans-Medium";
    src: url("../fonts/DmSans/DMSans-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "DMSans-SemiBold";
    src: url("../fonts/DmSans/DMSans-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: "DMSans-Bold";
    src: url("../fonts/DmSans/DMSans-Bold.ttf") format('truetype');
}

/*** Inter font ***/
@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter/Inter-Regular.ttf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Inter-Medium";
    src: url("../fonts/Inter/Inter-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url("../fonts/Inter/Inter-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter/Inter-Bold.ttf") format('truetype');
}
